@import url('https://fonts.googleapis.com/css2?family=Condiment&dis
body{

    color: rgb(0, 0, 0);
    background-color: rgb(94, 253, 253);
    font-famoily:

}

.hyara{
    color: rgb(15, 15, 15);
    background-color: rgb(91, 91, 216);
}
 

